<div class="container">
	<br>
	<center><h3>Créer un nouveau membre</h3></center>
	<hr>
	<br>


	<div class="container">

  <%= form_with model: @tribe_member, url: tribe_members_path, local: true, :validate => true do |f| %>

			<fieldset>

				<div class="form-group">
					<label for="exampleInputEmail1">Nom</label>
          <%= f.text_field :name, class: "form-control", placeholder: "Entrer le nom" %>
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Prénom</label>
	         <%= f.text_field :surname, class: "form-control", placeholder: "Entrer le prénom" %>
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Date de naissance</label>
          <%= f.text_field :birthdate, data: { provide: "datepicker", 'date-format': 'yyyy-mm-dd', 'date-autoclose': 'true', 'date-today-btn': 'linked', 'date-today-highlight': 'true'}, :class => "form-control", placeholder: "Date" %>
        </div>

				<div class="form-group">
					<label for="exampleInputPassword1">Ancêtre</label>
          <%= f.text_field :ancestor, class: "form-control", placeholder: "Entrer le nom de l'ancêtre" %>		
        </div>

				<div class="form-group">
					<label for="exampleInputPassword1">Latitude</label>
          <%= f.text_field :latitude, class: "form-control", placeholder: "Entrer la latitude" %>				
        </div>

				<div class="form-group">
					<label for="exampleInputPassword1">Longitude</label>
          <%= f.text_field :longitude, class: "form-control", placeholder: "Entrer la longitude" %>				
        </div>

        <br>

          <%= f.submit "Créer le membre", class: 'btn btn-primary' %>

			</fieldset>
		
		<%end%>

	</div>

</div>